<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/password_reset_screen_style.css') }}">

<div class="content">
    <div class="text">ISR Tool - User Password reset</div>
        <form method="post">
            <label>Enter registered Email Id</label>
            <div class="field">
               <span class="fa fa-envelope"></span>
               <input type="text" name="registered_email_id" id="registered_email_id" placeholder="Registered Email Id">
            </div><br>
            <label>Password Reset Time</label>
            <div class="field">
              <span class="fa fa-calendar"></span>
              <input type="text" name="registration_timestamp" id="registration_timestamp" placeholder="Registration Time"
              value={{current_timestamp}}>
            </div>
            <button class="button button1" name="button" value="back" type="submit" id="back">Back</button>
            <button class="button button2" name="button" value="password_reset" type="submit" id="password_reset">Reset Password</button>
        </form>
</div>