<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static',filename='css/sign_up_screen.css') }}">
<title>Register User</title>
<div class="content">
 <!--Image & Title-->
    <div class="text">ABC Tool - Sign Up</div>
    <div class="msg">{{ msg }}</div><br>
      <form action method="post">
        <!--Email & password input place-->
        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" name="name" id="name" placeholder="Eg: Bob Wills">
        </div>
        <div class="field">
          <span class="fa fa-user"></span>
          <input type="text" name="username" id="username" placeholder="Username">
        </div>
        <div class="field">
          <span class="fa fa-envelope"></span>
          <input type="text" name="email_id" id="email_id" placeholder="Email id">
        </div>
        <div class="field">
          <span class="fa fa-lock"></span>
          <input type="password" name="password" id="Password" placeholder="Password (min. 6 characters)">
        </div>
        <div class="field_timestamp">
          <label>Registration Timestamp</label>
            <span class="fa fa-calendar"></span>
            <input type="text" name="registration_timestamp" id="registration_timestamp" placeholder="Registration Time"
            value={{current_timestamp}}>
        </div>

       <!--login & outer button-->
        <button class="button button1" name="button" value="back" type="submit" id="back">Back</button>
        <button class="button button2" name="button" value="reset" type="reset" id="reset">Reset</button>
        <button class="button button3" name="button" value="sign_up" type="submit" id="sign_up">Sign Up</button>

        <footer>
            <p class="copyright">© CIS 2023</p>
        </footer>
      </form>
  </div>
